<script src="/ckeditor/ckeditor.js"></script>
<div id="form">
	<h1 id="title">Edit '<%= @post['title'] %>'.</h1>
	<form action="/post/edit" method="post">
		<div id="new-post">
			<input id="form-title" value="<%= @post['title'] %>" placeholder="Post Title" name="title" class="new-post-field">
			<input id="form-slug" value="<%= @post['slug'] %>" placeholder="URL Slug" name="slug" name="slug" class="new-post-field">
		</div>
		<textarea id="body" name="body"><%= @post['body'] %></textarea>
		<script>CKEDITOR.replace( 'body' ); </script>
		<input type="submit" value="Update" id="new-post-submit" >
	</form>
</div>