<% @posts.each do |post| %>
	<div id="post">
		<h1 id="post-title"><a href="<%= post %>"><%= json_parse(post)['title'] %></a></h1>
		<p id="post-time"><%= json_parse(post)['formatted_time'] %></p>
		<div class="post-content">
			<%= json_parse(post)['body'] %>
		</div>
	</div>
<% end %>