<div id="form">
	<span id="title">Post.</span>
	<form action="post" method="post">
		<input id="slug" placeholder="slug" name="slug"><br>
		<input id="title" placeholder="This is my blog post" name="title"><br>
		<input id="body" placeholder="body" name="body"><br>
		<input type="submit">
	</form>
</div>