<script src="/ckeditor/ckeditor.js"></script>
<div id="form">
	<h1 id="title">Post.</h1>
	<form action="/post" method="post">
		<div id="new-post">
			<input id="slug" placeholder="slug" name="slug" class="new-post-field">
			<input id="title" placeholder="This is my blog post" name="title" class="new-post-field">
		</div>
		<textarea id="body" name="body"><p>What's on your mind?</p></textarea>
		<script>CKEDITOR.replace( 'body' ); </script>
		<input type="submit" id="new-post-submit">
	</form>
</div>