/* Basics */

html {
	font-family: helvetica;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

a {
	text-decoration: none;
	color: #404040;
}

a:hover {
	color: #757575;
}

/* Header */

#header {
	border-bottom: 2px dashed #404040;
	padding-bottom: 40px;
	margin-bottom: 20px;
	font-size: 2em;
}

#header a:hover {
	color: #ff4747;
}

#header a:active {
	color: #404040;
}

#site-title {
	text-transform:uppercase;
	color: #404040;
	margin-bottom: 0px;
}

#description {
	color: #707070;
}

/* Posts, index */

#post {
	line-height: 1.5em;
	font-size: 18px;
	margin-bottom: 60px;
}

#post-title {
	font-size: 36px;
	margin-bottom: -10px;
	color: #363636;
	line-height: 1.2em;
}

#post-time {
	font-size: 18px;
	font-style: italic;  
	color: #707070;
}

.post_content {
	text-align: left;
}

/* New post page */

#new_post {
	margin-bottom: 30px;
}

#new_post_submit {
	margin-top: 20px;
}

.new_post_field {
	width: 150px;
	border: 2px solid #000;
	border-radius: 10px;
	padding: 5px;
}

/* Footer */

#footer {
	border-top: 2px dashed #404040;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 40px;
}